nav.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}

div.banner-container {
  max-height: 70vh;
  overflow: hidden;
  position: relative;
}

img.imagePosition {
  width: 100%;
  max-height: 70vh;
  object-fit: cover;
  display: block;
}

div.imageInsideContent {
  position: absolute;
  z-index: 10;
  left: 45%;
  top: 15%;
  margin-right: 10px;
  text-align: center;
  color: white;
}

@media (min-width: 768px) {
  div.imageInsideContent {
    top: 17%;
  }
  div.imageInsideContent h4 {
    font-size: 2.5rem;
  }

  div.imageInsideContent p {
    font-size: 1.4rem;
  }
}

.btnposition {
  position: relative;
}

.countforcart {
  font-weight: bold;
  position: absolute;
  left: 45%;
  top: -2%;
}
